/* ===== MAIN LAYOUT ===== */

.layout-main {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
}

.layout-main__content {
  flex: 1;
  min-width: 0;
  min-height: 0;
  padding: var(--space-l);
  overflow-y: auto;
}

@media (max-width: 767px) {
  .layout-main {
    flex-direction: column;
  }
  .layout-main__content {
    padding: var(--space-xs);
  }
}
