.integration-card-header__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: var(--color-bg-ghost);
  color: var(--color-typo-primary);
}

.integration-card-header__content {
  gap: var(--space-3xs);
}

@media (max-width: 767px) {
  .integration-card-header__icon {
    width: 22px;
    height: 22px;
    align-self: baseline;
    --graphics-size-m: 12px;
  }
  .integration-card-header__content {
    flex-direction: row;
    align-items: flex-start;
  }
}
