.integration-card-header__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: var(--color-bg-ghost);
  color: var(--color-typo-primary);
}
